<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <%- include('partials/sidebar'); %>        
        <main class="content">
            <h1>Home</h1>
            <div class="card">
                <h2>Selamat Datang di Sistem Pendukung Keputusan Metode Topsis</h2>
                <p style="color: aliceblue;">Silakan gunakan menu di samping untuk mengelola data kriteria, alternatif, penilaian, perhitungan, dan hasil akhir.</p>

                    <div class="summary-card">
                        <h3 id="jumlah-kriteria"><%= jumlahAlternatif || 0 %></h3>
                        <p>Data Alternatif</p>
                    </div>
            </div>
        </main>
    </div>
</body>
</html>